<html>
<h1>Hi <%=@alumni.first_name%>, Welcome To UTC Kyema Alumni Association!</h1>

<p>
On behalf of the nearly 1,000+ alumni of this great institution, 
it is my pleasure to welcome you to the Uganda Technical College-Kyema Alumni Association. 
The association exists, wholly and solely, to help our alumni and, by extension, the College itself, succeed.
</p>
<p>
The world gets more complicated with every passing day. We get involved with our families 
and work and suddenly we’ve lost touch with those outside that close circle. The Alumni Association 
can help you stay connected to those friends and to the vast resources available here, from the faculty that taught 
and guided you to our libraries, seminars, and web sites, social media and an extraordinary variety of “stay connected” 
programs designed with you in mind.They are all designed to support you as you pursue your post-academic life and career.
</p>
<p>
Now more than ever, it’s important for people to feel connected. One opportunity for Kyema alumni to connect—and 
network—online is the official Facebook page, Instagram, twitter account and professional network whatsup groups. 
Through these social media platforms, we want to help Kyema’s Alumni make connections with fellow alumni and join in 
discussions about careers and networking. Discussion posts are moderated and are topics of general interest to alumni 
including career-related news stories, alumni networking opportunities, and career advice. Whether you’re career 
building, job hunting, or just looking to reach out, here are three tips to help you make the most of this resource and 
your fellow alumni:
</p>
<ol type="a">
  <li>Start a Discussion: Looking to find other alumni in your profession on the what sup platforms? 
  Need advice on a job search? Wondering how others have navigated career shifts? Ask! Members of the group can post 
  relevant discussions and questions for alumni to comment on, and comment on other group members’ posts.
  </li>
  <br>
  <li>Post a Job: With the breadth of diversity and talent in the alumni community, chances are a fellow alumnus/a might be the perfect candidate (or know someone who would be). 
  Alumni are welcome to post job openings in the group from their company’s or networks that may be of interest to 
  other alumni.
  </li>
  <br>
  <li>Reach Out: We are working on our LinkedIn’s latest update to groups, were members will be able to easily message 
  anyone in the group and have the flexibility to control which messages they accept or privately decline. 
  Members will receive a notification about their message requests just like they would with a regular message and 
  continue the conversation with a single click of "accept."
  </li>
</ol>
<br>
<p>
And be sure to also check out these other platforms to help you more effectively engage with the group on social media:
</p>
<p>
Follow the link to our face book page and like it <a href="https://www.facebook.com/Alumni-Uganda-Technical-College-Kyema-100974898376492/">UTC-Kyema-Facebook</a>
</p>
<p>
Follow the link to our Instagram account and follow us.<a href="https://www.instagram.com/kyemaalumni/">UTC-Kyema-Instagram</a>
</p>
<p>
Follow the link to our twitter account and follow us.<a href="https://twitter.com/AlumniKyema?s=09">UTC-Kyema-Twitter</a>
</p>

<h3>Professional Networks </h3>
<p>You are encouraged  to join any of the following professional networks </p>
<ol type="1">
  <li>If you are interested in learning more about Architectural Professional Networks please contact John Abia, Board of Director representative for Architectural Engineering Kyema Alumni at abiajohn@gmail.com or (256) 773868932
  Follow this link to join the WhatsApp group: <a href="https://chat.whatsapp.com/HkusDSSFswxIEsRqa5YNSK">Arch WhatsApp</a>
  </li>
  <br>
  <li>If you are interested in learning more about Mechanical Engineering Professional Network 
  please contact Muhsin Mujahid, Board of Director representative for Mechanical Engineering professional 
  network Kyema Alumni. at muhsinswag@gmail.com or (256) 702801707
  Follow the link to join the whatsup group
  <a href="https://chat.whatsapp.com/CFRVrWr6exAFb8JcwEJaNX">Mechanical WhatsApp</a> or 
  <a href="https://chat.whatsapp.com/GNKQjDm4goYI8Btk6HD1nR">Mech WhatsApp</a></li>
  <br>
  <li> If you are interested in learning more about Civil Engimeering Professional Networks 
  please contact Nassanga Joritah, Board of Director representative for Civil professional network Kyema Alumni at nassanga.joie@gmail.com or (256) 788056221.
  Follow this link to join the WhatsApp group: <a href="https://chat.whatsapp.com/LgenwTPwQsTLOMKZbEViwT">Civil WhatsApp</a></li>
  <br>
  <li>If you are interested in learning more about Water Engineering Professional Networks please contact Emmanuel Isabirye, 
  Board of Director representative for Water Engineering Kyema Alumni at emmanuelisabirye@gmail.com or (256) 775743815
  Follow this link to join the WhatsApp group: <a href="https://chat.whatsapp.com/Dnrn8YIeOMd7RRIZ9COHwr">Water WhatsApp</a></li>
  <br>
  <li>If you are interested in learning more about Craft and associate companies Professional Networks 
  please contact Gyavirra Kisekulo, Board of Director representative for Craft and associate companies Kyema Alumni at kisekuloguild2010@gmail.com 
  or (256) 705177829
  Follow this link to join the WhatsApp group: <a href="https://chat.whatsapp.com/LBWHAiGqc70HAX7DlbcACZ">Craft WhatsApp</a></li>
  <li>If you are interested in learning more about Electrical Engineering Professional Network please contact 
  Ssemulugo Martin, Board of Director representative for Electrical Engineering professional network Kyema Alumni. at ssemulugomartin@gmail.com or (256) 703676713.
  Follow the link to join the whatsup group <a href="https://chat.whatsapp.com/CFRVrWr6exAFb8JcwEJaNX">Electrical WhatsApp</a></li>
</ol>
