<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <h5>Silas Ayella</h5>
    <h5>Executive Director</h5>
    <h5>Board of Directors | Alumni Uganda Technical College Kyema</h5>
    <h5>+256789569729</h5>
    <h5>alumniutckyema@gmail.com</h5>
    <h5>https://utckyema.wordpress.com/</h5>


  </body>
</html>
